<p>
  website-list works!
</p>
<nav class="navbar navbar-dark bg-primary fixed-top"> 
    	<a routerLink="/user/:uid/website/:wid/page" class="sw-font-white"><i class="fas fa-chevron-left"></i></a>
    	<div class="sw-80-width">
    		   <a class="float-left navbar-brand" routerLink="/user/:uid/website/:wid/page"><b>Websites</b></a>
    	</div>
    	<a routetLink="/user/:uid/website/:wid/page"><i class="sw-font-white"><i class="fas fa-plus"></i></a>
    </nav>
    <!-- Website list -->		
    <div class="container-fluid">  
           <ul class="list-group"> 	
</body>          <li class="list-group-item"> 
	                   <a routerLink="user/:uid/website/:wid/page">MISIMBO</a>
	                   <a class="float-right" routerLink="/user/:uid/website/:wid><i class="fas fa-cogs"></i></a>
	            <li>
	            <li class="list-group-item"><a routerLink=user/:uid/website/:wid/page">               <a class="float-right" routerLink="/user/:uid/website/:wid"><i class="fas fa-cogs"></i></a>
	            <li class="list-group-item"><a routerLink="/user/uid/website/:wid/page"><a>Sparker5000</a>
	                <a class="float-right" routerLink=" user/uid/website/:wid"><a class="fas fa-cogs"></i></a>
	            <li class="list-group-item"><a routerLink="/user/uid/website/:wid/page">Sublime Instructios</a>
	            	<a class="float-right" routerLink="user/:uid/website/:wid"><i class="fas fa-cogs"></i></a></li>
	         </ul>
	    </div>
	    <!-- footer --> 
	    <nav class="navbar navbar-dark bg-primary fixed-bottom">
	          <div class="sw-width">    
	                 <a routerLink="/user/:uid/website/:wid" class="sw-font-white float-right"><i class="fas fa-cogs"></i></