 <p>login works!</p> 


 <h1>Login Works!!!
 </h1>
 body>
	<div class= "container">

		<h1>Login</h1>
		<form>
		<div class="form-group">
			<input type="text" name="username" placeholder="username=" class="forn-control">
			</div>	
		
			
			<div class="form-group">
				<input type="Password" name=Password placeholder="paassword">
				<a class="forncontrol">
				<input type="text" name="username" placeholder="username" class="form-control">
			</div>
			<div class="form-group">
				<input type="Password" name="Password" placeholder="paassword" class="form-control">
			</div>
			<a class="btn ptn-primary btn-block" href="profile.html">Login</a>

			<a class="btn btn-success" href="register.html">
			Register</a>
			<form>	
		
</div>
</body>
</html>
!DOC