<!DOCTYPE html>
<html>
<head>
	<title>	My Contact</title>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-status-bar-style" content="black">
	<meta name="viewport" content="initial-scalable=no">
	<link rel="stylesheet" type="text/css" href="">
	<link rel="stylesheet" type="text/css" href="../../../../styles.css">
</head>
<body>
      <div class="container">
      	<h1 class="text-center">My Contact</h1>
      	<br>
      	<ul id= "names" class="list-group list-group-flush">
      		<li class="list-group-item">
      			<h5>A</h5>
      		</li>
      		<li class="list-group-item sw-link">
      		<a href="">Alice</a>
      		</li>
      		<li class="list-group-item sw-link">
      		<a href="">Adam</a>
      		</li>
      		<li class="list-group-item" sw-link>
      		<a href="">Anna</a>	
      		<li class="list-group-item">
      		     <H5>B</H5>
      		</li>
      		<li class="list-group-item sw-link">  
            <a href="">Bob</a>
            <li class="list-group-item sw-link">
            	<a href="">Bill</a>
            </li>
            <li class="list-group-item sw-link">
            	<a href="">Boston</a>
            </li>
        </ul>   
    </div> 
    <script type="text/javascript" src="=main2.js"></script>    	

      </body>
</html>