<P>login works!!!!</P>

<h1>login h1 works!!!!</h1>
 <h1>Sparker5000!!!!!</h1>
 <P>paper</P>
 <body>
		<div class="container-fliud">
			<h1>Login</h1>
			<!--form-->
			<form>
		<div class="form-group">
			<input type="text" name="username" placeholder="username" class="form-control">
		</div>
		<div class="form-group">
			<input type="password" name="password" placeholder="password" class="form-control">
		</div>
		<a class="btn btn-primary btn-block" 
		routerLink="/user/:uid">login</a>
		<a class="btn btn-success btn-block" routerLink="/register">Register</a>
	</form>
</div>

		</body>